*{
	margin:0;
	padding:0;
	font-family:arial;
	color:#424242;
}
ul{
	list-style:none;
	font-family:arial;
}
a{
	text-decoration:none;
}

.wrapper{
	background-color:#f5f5f5;
	color:#424242;
}

/*第一行布局*/
.wrapper .content .top{
	margin:0 auto;
	width:1190px;
	height:35px;
	/*border:1px solid #000;*/
	background-color:#f5f5f5;
}

.wrapper .content .top ul{
	list-style:none;
	font-size:12px;
	color:#6c6c6c;
}

.wrapper .content .top .right li{
	float:right;
	margin:0 10px;
	line-height:35px;
}



.wrapper .content .top .left li{
	float:left;
	margin:0 10px;
	line-height:35px;
}

.wrapper .content .top .right .list-item1::before{
	content:'';
	display:inline-block;
	width:12px;
	height:12px;
	background-image:url(D:/HTML/images/menu.png);
	background-size:100% 100%;
	float:left;
	margin-right:5px;
	margin-top:11px;
}

.wrapper .content .top .right .list-item6::before{
	content:'';
	display:inline-block;
	width:12px;
	height:12px;
	background-image:url(D:/HTML/images/five.png);
	background-size:100% 100%;
	float:left;
	margin-right:5px;
	margin-top:10px;
}
.wrapper .content .top .right .list-item7::before{
	content:'';
	display:inline-block;
	width:12px;
	height:12px;
	background-image:url(D:/HTML/images/shoppingCart.png);
	background-size:100% 100%;
	float:left;
	margin-right:5px;
	margin-top:10px;
}

.wrapper .content .top .right li::after{
	content:'';
	display:inline-block;
	width:10px;
	height:10px;
	background-image:url(D:/HTML/images/arrow-down.png);
	background-size:100% 100%;
	float:right;
	margin-left:10px;
	margin-top:13px;
}

.wrapper .content .top li:hover{
	color:#f40;
	cursor: pointer;
}

.wrapper .content .top .left .list-item9{
	color:#424242;
}

.wrapper .content .top .left .list-item9:hover{
	color:#424242;
	cursor: auto;
}

.wrapper .content .top .left .list-item11{
	color:#424242;
}
.wrapper .content .top .left .list-item11:hover{
	color:#424242;
	cursor: auto;
}

.wrapper .content .top .right .list-item4{
	float:right;
	margin:0 5px;
	line-height:35px;
}
.wrapper .content .top .right .list-item4::after{
	content:'';
	width:0;
	margin:0;
}

.wrapper .content .top .right .list-item5::after{
	content:'';
	width:0;
	margin:0;
}
.wrapper .content .top .left li::after{
	content:'';
	display:inline-block;
	width:10px;
	height:10px;
	background-image:url(D:/HTML/images/arrow-down.png);
	background-size:100% 100%;
	float:right;
	margin-left:10px;
	margin-top:13px;
}

.wrapper .content .top .left .list-item12::after{
	content:'';
	width:0;
	margin:0;
}

.wrapper .content .top .left .list-item11::before{
	content:'';
	display:inline-block;
	width:12px;
	height:12px;
	background-image:url(D:/HTML/images/news.png);
	background-size:100% 100%;
	float:left;
	margin-right:8px;
	margin-top:12px;
}

.wrapper .content::after{
	content:'';
	clear:both;
	display:block;
}

.superbanner{
	height:99px;
	background-color:#ff7b00;
}

/*第二行布局*/

.superbanner-inner{
	margin:0 auto;
	width:1190px;
	height:99px;
	/*border:1px solid #000;*/
}
.superbanner-inner .taobao1212{
	width:119px;
	height:99px;
} 
.superbanner-inner .taobao1212 img{
	float:left;
	width:auto;
	display:block;
}
.superbanner-inner .superbanner-bar{
	float:left;
	width:1035px;
	height:78px;
	/*border:1px solid #eeaeee;*/
	margin-top:10px;
	margin-left:10px;
}
.superbanner-inner .superbanner-bar a {
	display:inline-block;
	float:left;
	width:190px;
	height:78px;
	margin-right:5px;
	background-color: red;
	/*border:1px solid #000;*/
	text-decoration:none;

}
.superbanner-inner .superbanner-bar .item-1{
	background-color:#9932cc;
	border-radius:10px;
}
.superbanner-inner .superbanner-bar .item-1 .desc-wrapper{
	float:left;
	width:90px;
	height:44px;
	margin-top:10px;
	margin-left:13px;
	margin-right:10px;
}
.superbanner-inner .superbanner-bar .item-1 .desc-wrapper .title{
	width:90px;
	height:28px;
	line-height:28px;
	font-size:20px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-1 .desc-wrapper .subtitle{
	width:90px;
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-1 .img-outer{
	float:left;
	width:60px;
	height:60px;
	border-radius:22px;
	background-color:#fff;
	margin-top:9px;
}
.superbanner-inner .superbanner-bar .item-1 .img-outer img{
	width:60px;
	height:60px;
	border-radius:22px;
}






.superbanner-inner .superbanner-bar .item-2{
	background-color:#ffa500;
	border-radius:10px;
}
.superbanner-inner .superbanner-bar .item-2 .desc-wrapper{
	float:left;
	width:90px;
	height:44px;
	margin-top:10px;
	margin-left:13px;
	margin-right:10px;
}
.superbanner-inner .superbanner-bar .item-2 .desc-wrapper .title{
	width:90px;
	height:28px;
	line-height:28px;
	font-size:20px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-2 .desc-wrapper .subtitle{
	width:90px;
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-2 .img-outer{
	float:left;
	width:60px;
	height:60px;
	border-radius:22px;
	background-color:#fff;
	margin-top:9px;
}
.superbanner-inner .superbanner-bar .item-2 .img-outer img{
	width:60px;
	height:60px;
	border-radius:22px;
}






.superbanner-inner .superbanner-bar .item-3{
	background-color:#ff00ff;
	border-radius:10px;
}
.superbanner-inner .superbanner-bar .item-3 .desc-wrapper{
	float:left;
	width:90px;
	height:44px;
	margin-top:10px;
	margin-left:13px;
	margin-right:10px;
}
.superbanner-inner .superbanner-bar .item-3 .desc-wrapper .title{
	width:90px;
	height:28px;
	line-height:28px;
	font-size:20px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-3 .desc-wrapper .subtitle{
	width:90px;
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-3 .img-outer{
	float:left;
	width:60px;
	height:60px;
	border-radius:22px;
	background-color:#fff;
	margin-top:9px;
}
.superbanner-inner .superbanner-bar .item-3 .img-outer img{
	width:60px;
	height:60px;
	border-radius:22px;
}






.superbanner-inner .superbanner-bar .item-4{
	background-color:#1E90FF;
	border-radius:10px;
}
.superbanner-inner .superbanner-bar .item-4 .desc-wrapper{
	float:left;
	width:90px;
	height:44px;
	margin-top:10px;
	margin-left:13px;
	margin-right:10px;
}
.superbanner-inner .superbanner-bar .item-4 .desc-wrapper .title{
	width:90px;
	height:28px;
	line-height:28px;
	font-size:20px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-4 .desc-wrapper .subtitle{
	width:90px;
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-4 .img-outer{
	float:left;
	width:60px;
	height:60px;
	border-radius:22px;
	background-color:#fff;
	margin-top:9px;
}
.superbanner-inner .superbanner-bar .item-4 .img-outer img{
	width:60px;
	height:60px;
	border-radius:22px;
}







.superbanner-inner .superbanner-bar .item-5{
	background-color:#32CD32;
	border-radius:10px;
}
.superbanner-inner .superbanner-bar .item-5 .desc-wrapper{
	float:left;
	width:90px;
	height:44px;
	margin-top:10px;
	margin-left:13px;
	margin-right:10px;
}
.superbanner-inner .superbanner-bar .item-5 .desc-wrapper .title{
	width:90px;
	height:28px;
	line-height:28px;
	font-size:20px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-5 .desc-wrapper .subtitle{
	width:90px;
	height:16px;
	line-height:16px;
	font-size:14px;
	color:#fff;
}
.superbanner-inner .superbanner-bar .item-5 .img-outer{
	float:left;
	width:60px;
	height:60px;
	border-radius:22px;
	background-color:#fff;
	margin-top:9px;
}
.superbanner-inner .superbanner-bar .item-5 .img-outer img{
	width:60px;
	height:60px;
	border-radius:22px;
}

/*两侧图片*/
/*.left-image{
	float:left;
	width:240px;
	height:800PX;
	background-color:#f5f5f5;
}
.right-image{
	float:right;
	width:240px;
	height:800px;
	background-color:#f5f5f5;
}*/


/*第三行布局*/

.wrapper .decorations-item{
	margin:0 auto;
	width:1190px;
	height:140px;
	background-color:#fff;
}
/*.wrapper .decorations-item .tianmao a{
	position:absolute;
}*/
.wrapper .decorations-item .tianmao img{
	position:absolute;
	width:190px;
	height:140px;
}
.wrapper .decorations-item .top-wrap{
	position:absolute;
	top:160px;
	display:inline-block;
	width:630px;
	height:87px;
	margin-left:258px;
	margin-right:302px;
}
.wrapper .decorations-item .top-wrap ul{
	margin-left:10px;
	padding:0;
	list-style:none;
}
.wrapper .decorations-item .top-wrap ul li{
	float:left;
	margin:0 10px;
	color:#f40;
	height:22px;
	font-size:12px;
	font-family:arial;
	font-height:22px;
	padding:0 5px;
}
.wrapper .decorations-item .top-wrap .top-wrap1 li:hover{
	background-color:#ffd39b;
	cursor:pointer;
}
.wrapper .decorations-item .top-wrap ul li::after{
	content:'';
	display:block;
	clear:both;
}
.wrapper .decorations-item .top-wrap .search-box{
	float:left;
	top:22px;
	width:630px;
	height:40px;
	border:2px solid #f40;
	border-radius:30px;
}
.wrapper .decorations-item .top-wrap .search-box .input-box{
	width:546px;
	height:30px;
	border:0;
	margin-left:10px;
	vertical-align:3px;
	outline:none;
}
.wrapper .decorations-item .top-wrap .search-box .button{
	width:74px;
	height:40px;
	background-color:#f40;
	color:#fff;
	border:0;
	font-size:18px;
	border-bottom-right-radius:15px;
	border-top-right-radius:15px;
	outline:none;
}

.wrapper .decorations-item .top-wrap .keyword{
	margin-left:0;
	padding:0;
	list-style:none;
}

.wrapper .decorations-item .top-wrap .keyword li{
	float:left;
	margin:0;
	color:#f40;
	height:22px;
	font-size:12px;
	font-family:arial;
	font-height:22px;
	padding:0 5px;
}
.wrapper .decorations-item .top-wrap .keyword li a{
	text-decoration:none;
	color:#f40;
}
.wrapper .decorations-item .top-wrap .keyword li:hover{
	/*color:#f40;*/
	cursor:pointer;
}
.wrapper .decorations-item .top-wrap .keyword .keyword-12{
	margin-left:18px;
}
.wrapper .decorations-item .top-wrap .keyword .keyword-12::after{
	content:'';
	display:inline-block;
	width:12px;
	height:12px;
	background-image:url(D:/HTML/images/right.png);
	background-size:100% 100%;
	float:right;
	margin-top:2px;
}



/*第四行布局*/

.wrapper .navigation-bar{
	width:1190px;
	height:30px;
	margin:auto;
	background-color:#ff7b00;
}
.wrapper .navigation-bar h2{
	float: left;
    width: 190px;
    height:30px;
    text-align:center;
    font-size: 16px;
    line-height:30px;
    color:#fff;
    background-color:#ff5000;
}
.wrapper .navigation-bar .nav-hd{
	float:left;
	background-color:#ff7b00;
}
.wrapper .navigation-bar .nav-hd li{
	float:left;
	margin:0 3px;
	line-height:30px;
	background-color:#ff7b00;
	padding:0 4px;
}
.wrapper .navigation-bar .nav-hd a{
	color:#fff;
}
.wrapper .navigation-bar .nav-hd .pipe{
	color:#fff;
}

/*第五行布局*/
.wrapper .service{
	/*display:inline-block;*/
	/*float:left;*/
	/*position:absolute;*/
	/*left:50%;*/
	width:1190px;
	height:632px;
	/*border:1px solid #000;*/
	margin:0 auto;
}
/*第五行第一列*/
.wrapper .service .service-bd{
	float:left;
	/*position:relative;*/
	/*position:absolute;*/

	width:188px;
	height:512px;
	padding-top:5px;
	padding-bottom:3px;
	border:1px solid #f40;
	background-color:#fff;
}
.wrapper .service .service-bd li{
	display:inline-block;
	width:145px;
	height:32px;
	font-size:14px;
	font-weight:400px;
	line-height:32px;
	padding-left:25px;
	padding-right:19px;
}
.wrapper .service .service-bd li:hover{
	background:#ffd39b;
	color:#f40;
}
.wrapper .service .service-bd li a:hover{
	text-decoration:underline;
	color:#f40;
}
.wrapper .service .service-bd a{
	color:#666;
}
.wrapper .service .service-bd i{
	position:relative;
	left:33px;
	font-size:12px;
}
.wrapper .service .service-bd .service-bd-i{
	position:relative;
	left:9px;
	font-size:12px;
}
.wrapper .service .service-bd .service-bd-i-1{
	position:relative;
	left:19px;
	font-size:12px;
}
.wrapper .service .service-bd .service-bd-i-2{
	position:relative;
	left:14px;
	font-size:12px;
}

/*第五行第二列*/
.wrapper .service-mid{
	float:left;
	width:520px;
	height:512px;
	margin-left:10px;
	margin-top:10px;
}
.wrapper .service-mid .tbh-promo{
	width:520px;	
	height:280px;
}
.wrapper .service-mid .tbh-promo img{
	width:520px;	
	height:280px;
}

.wrapper .service-mid .tbh-tmall{
	width:520px;	
	height:230px;
}
.wrapper .service-mid .tbh-tmall .tmall-hd{
	position: relative;
	width:520px;
	height:18px;
	padding-top:11px;
	border-bottom:3px solid #f40;
}
.wrapper .service-mid .tbh-tmall .tmall-hd .inner img{
	width:120px;
	margin-right:16px;
}
.wrapper .service-mid .tbh-tmall .tmall-hd .inner em{
	font-size: 12px;
    color: #666;
    /*position: relative;*/
    font-style:normal;
    vertical-align:2px;
}
.wrapper .service-mid .tbh-tmall .tmall-hd .inner strong{
	position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.wrapper .service-mid .tbh-tmall .tmall-bd{
	float:left;
	width:521px;
	height:201px;
	white-space:nowrap;
}
.wrapper .service-mid .tbh-tmall .tmall-bd img{
	float:left;
	border-right:0.2px solid #ebebeb;
	cursor:pointer;
}
/*第五行第三列*/
.service .sub-column{
	float:left;
	width:160px;
	height:512px;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
}
.service .sub-column .tbh-focus{
	width:160px;
	height:280px;
	cursor:pointer;
}
.service .sub-column .hd-tanx{
	width:160px;
	height:230px;

}
.service .sub-column .hd-tanx h5{
	font-size: 12px;
    font-weight: 400;
    background: #f1f1f1;
    color: #a1a1a1;
    line-height: 24px;
    padding-top: 6px;
}
.service .sub-column .hd-tanx img{
	cursor:pointer;
}


/*第五行第四列*/
.col-right{
	float:right;
	width:290px;
	height:100%;
	margin-top:10px;
}
.col-right .member{
	width:290px;
	height:132px;
	padding-top:3px;
	padding-bottom:10px;
}
.col-right .member .member-bd{
	width:290px;
	height:91px;
}
.col-right .member .member-bd .avater-wrapper{
	/*width:74px;
	height:56px;*/
	margin:0 108px;
}
.col-right .member .member-bd .avater-wrapper .member-home{
	display:inline-block;
	width:50px;
	height:50px;
	border:1px solid #fff;
	border-radius: 50%;
	margin-top:4px;
	margin-left:10px;
}
.col-right .member .member-bd .avater-wrapper .member-home .member-avater{
	border-radius: 50%;
}
.col-right .member .member-bd .member-nick-info{
	font-size:12px;
	display:block;
	height:17px;
	line-height:17px;
	text-align:center;
	color:#606060;
	font-weight:normal;
}
.col-right .member .member-bd .member-nick{
	font-weight:400;
	color:#606060;
}
.col-right .member .member-bd .member-tjb{
	height:17px;
	line-height: 17px;
	margin-left:50px;
}
.col-right .member .member-bd .member-tjb a{
	position:relative;
	display:inline-block;
	color:#ff5000!important;
	text-align:center;
	padding:0 10px 0 20px;
	background-color:#ffe4db;
	border-radius:9px;
	font-size:12px;
}
.col-right .member .member-bd .member-tjb span{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:16px;
	height:16px;
	/*border:1px solid #000;*/
	vertical-align:middle;
}
.col-right .member .member-bd .member-tjb .tbh-icn{
	background-image: url(D:/HTML/images/gold1.jpg);
	background-size:100% 100%;
	border-radius:50%;
}
.col-right .member .member-ft{
	padding-left:3px;
	height:40px;
	margin-top:2px;
}
.col-right .member .member-logout{
	margin-top:8px;
	height:25px;
}
.col-right .member .member-logout a{
	float:left;
	color:#fff;
	background-color:#f40;
	margin-right:7px;
	font-size:14px;
	font-weight:700px;
	line-height:25px;
	width:88px;
	text-align:center;
	border-radius:4px;
}
.col-right .tbh-tipoff a{
	position:relative;
	padding-left:82px;
	display:block;
	color:#f40;
	height:26px;
	line-height:26px;
	font-size:12px;
	background-color:#ffe4dd;
}
.col-right .tbh-tipoff span{
	position:absolute;
	right:52px;
	top:8px;
	/*display:block;*/
	width:0;
	height:0;
	border-style:solid;
	border-width:5px 0 5px 7px;
	border-color:transparent transparent transparent #f40;
}
.col-right .tbh-notice{
	width:290px;
	height:98px;
	background-color:#fff;
	padding-top:10px;
}
.col-right .tbh-notice .notice-hd{
	height:24px;
	border-top:4px;
	padding:0 8px;
}
.col-right .tbh-notice .notice-hd li{
	float:left;
	width:32px;
	margin:0 11px;
	font-size:12px;
	line-height:20px;
	text-align:center;
}
.selected{
	font-weight:700;
	border-bottom:2px solid #f40;
}
.col-right .tbh-notice .mod{
	margin:0 12px;
	height:50px;
	padding-top:9px;
	padding-bottom: 6px;
}
.col-right .tbh-notice .mod li{
	float:left;
	font-size:12px;
	height:25px;
	line-height:25px;
	font-family:normal;
}
.col-right .tbh-notice .mod .second{
	width:130px;
}
.col-right .tbh-notice .mod .h{
	color:#f40;
}
.col-right .tbh-notice .mod a:hover{
	color:#f40;
}
.col-right .tbh-conve{
	position:absolute;
	background-color:#fff;
}
.col-right .tbh-conve .conve{
	float:left;
	border-top:1px solid #f4f4f4;
}
.col-right .tbh-conve .conve .conve-list{
	width:290px;
}
.col-right .tbh-conve .conve .conve-list li{
	float:left;
	width:70px;
	height:75px;
	border:1px solid #f4f4f4;
	border-left-color:transparent;
	border-top-color:transparent;
}
.col-right .tbh-conve .conve .conve-list a{
	display:block;
	text-align:center;
	padding-top:1px;
}
.col-right .tbh-conve .conve .conve-list span{
	display:inline-block;
	width:24px;
	height:24px;
	margin-top:11px;
	background-repeat:no-repeat;
	background:url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png)0 0 no-repeat;
}
.col-right .tbh-conve .conve .conve-list p{
	display:block;
	text-align:center;
	color:#333;
	font-size:12px;
	line-height:24px;
}
.col-right .tbh-conve .conve .conve-list p:hover{
	color:#f40;
}
.col-right .tbh-conve .conve .conve-list .conve-item-2 span{
	background-position: 0 -85px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-3 span{
	background-position: 0 -44px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-4 span{
	background-position: 0 -132px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-5 span{
	background-position: 0 -176px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-6 span{
	background-position: 0 -220px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-7 span{
	background-position: 0 -264px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-8 span{
	background-position: 0 -308px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-9 span{
	background-position: 0 -352px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-10 span{
	background-position: 0 -396px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-11 span{
	background-position: 0 -440px;
}
.col-right .tbh-conve .conve .conve-list .conve-item-12 span{
	background-position: 0 -484px;
}
.tbh-app{
	position:relative;
	background-color:#fff;
	padding-top:1px;
	top:232px;
}
.tbh-app .apps{
	position:relative;
	height:110px;
}
.apps h3{
	position:relative;
	font-size: 14px;
	padding-left:14px;
	height:30px;
	line-height:30px;
}
.apps a{
	position:absolute;
	right:10px;
	font-size:12px;
	font-weight:400;
}
.apps a:hover{
	color:#f40;
}
.apps-nav{
	position:relative;
	padding-left:15px;
	height:84px;
}
.apps-nav li{
	position:relative;
	float:left;
	width:32px;
	height:32px;
	padding-right:21px;
	padding-bottom: 8px;
}
.apps-nav img{
	width:32px;
	height:32px;
}
/*bottom横*/
.tbh-headline{
	float:left;
	margin-top:10px;
	width:890px;
	height:100px;
	background-color:#fff;
}
.tbh-headline .headline{
	position:relative;
	padding:14px 18px 12px 16px;
}
.tbh-headline .headline h3{
	position:relative;
	display:block;
	width:180px;
	height:73px;
	float:left;
}
.tbh-headline .headline .headline-hd{
	background:url(https://img.alicdn.com/tfs/TB1KbhkbUgQMeJjy0FeXXXOEVXa-129-26.png)0 14px no-repeat;
}
.tbh-headline .headline .headline-hd p{
	height:24px;
	margin-top:42px;
	font-size:12px;
	line-height:24px;
	/*font-stretch:100%;*/
	font-weight:400;
	color:#999;
	font-style:normal;
}
.tbh-headline .headline .more{
	position:absolute;
	display:block;
	width:40px;
	right:16px;
	font-size:12px;
	font-weight:400;
	color:#999;
	line-height:20px;
	text-align:center;
	z-index:1;
}
.tbh-headline .headline .more i{
	text-decoration: none;
}
.tbh-headline .headline .mod{
	position:relative;
	width:676px;
	height:73px;
	margin-left:180px;
}
.tbh-headline .headline .mod a{
	display:block;
	height:73px;
}
.tbh-headline .headline .mod h4:hover{
	color:#f40;
}
.tbh-headline .headline .mod img{
	float:left;
	height:73px;
	width:130px;
}
.tbh-headline .headline .mod h4{
	color:#333;
	font-size:16px;
	font-weight:500px;
	height:28px;
	margin-top:2px;
	margin-left:144px;
}
.tbh-headline .headline .mod p{
	margin-left:144px;
	color:#999;
	height:36px;
	line-height:18px;
	font-size:14px;
	overflow:hidden;
}
